body{
    overflow-y: hidden;
    overflow-x: hidden;
}
 
#ankole-logo {
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    position: absolute;
    width: 22vb;
 }
 #kitisuru-map{
    text-decoration: none;
    color: white;
 }
 .options a{
    text-decoration: none;
    font-size: 25px;
    color: black;
 }


 
 .optionsMenu{
    a:hover{
        color: gray ;
 }
    margin: auto;
    left: 0;
    right: 0;
    border: none;
    text-align: center;
 
  
    bottom: 9%;
    align-items: center;
    position: absolute;
    z-index: 1;
    /* margin-left: 25%; */
   
  
    i{
    
       color: gray;
    }
  
    display: flex;
    gap: 3.2%;
    width: 41%;
    border: solid black 1px;
    height: 79px;
 
    background-color: white;
    color: black;
    border-radius: 39px;
    justify-content: center;
  
    background-color: rgb(2, 2, 2);
  a{

    text-decoration: none;
    font-size: 21px;
    color: white;
   
  }
 
 

}
.reserve{
    font-size: 17px;
    color: white;
text-align: center;
background-color:grey ;
border: 37px;
border-radius: 24px;
width: 140px;
height: 49px;
}


.reserve:hover{

background-color: white;
border-radius: 24px;
color: black;

}

#optionContact{
    left: 5%;
}

.conotactBackground{
    background-image: linear-gradient(rgba(34, 33, 33, 0.5), rgba(27, 26, 26, 0.5)),  url(images/Welcome-Ankola.jpg);
    width: 100%;

    background-repeat: no-repeat;
    background-size: cover ;
    color:white;
    position: relative;
    height: 100vh;
    
}


.contactInfo{
    font-size: 16.1px;
  p{
    font-weight: bold;
  }
    gap: 3%;
    display: flex;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    position: absolute;
        padding:3%;
        padding-top: 21%;
  
}

#logocontact{
    top:20%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);

}
    a{
        text-decoration: none;
    }


.kitisuru{

    
    border: 2px solid white;
   height: 278px;
      width: 450px;
    padding-left:3%;
    padding-right:3%;
}
.kilimani{
    border: 2px solid white;
     height: 320px;
    width: 450px; 
    padding-left:3%;
    height: 320px;
    padding-right:3%;
}

.social-platforms{
    width: 5%;
    display: flex;
    position: absolute;
    right: 1%;
    top: 4%;
    gap: 20%;
    a{
        z-index: 5;
        color: white;
        text-decoration: none;
        cursor: pointer;
    }
}

#socials{
    padding: 10px;
    font-size: medium;
    z-index: 10;
    display: flex;
    color: white;
    border-radius: 50%;
    border: 1px solid gray;

}
#whatsapp{
    bottom: 8%;
    right: 3%;
    padding: 0.5% 0.6%;
    position: absolute;
    position: fixed;
    padding: 10px;
    font-size: 45px;
    z-index: 10;
    display: flex;
    color: white;
    border-radius: 50%;
    border: 1px solid gray;
    background-color: black;

    a{
        z-index: 5;
        color: white;
        text-decoration: none;
        cursor: pointer;
    }

}
.menu-up {
    position: relative;
    display: inline-block;
 }
 
 
 .menu-content {
    position: absolute;
    top: -1500%;
    width: 900%;
    padding: 100% 150%;
    border-radius: 1rem;
    display: none;
    z-index: 20;
    background-color: black;
    margin-left: -100%;
 }
 
 
 .menu-up:hover .menu-content {
    display: block;
 }
 
 
 .opening-hours{
    position: relative;
    display: inline-block;
 }
 .opening-hours-content{
    position: absolute;
    padding: 100% 150%;
    border-radius: 1rem;
    display: none;
    z-index: 10;
    background-color: white;
    width: 1000%;
    top: -1900%;
    margin-left: -100%;
 }
 .opening-hours:hover .opening-hours-content {
    display: block;
 }
 @media (max-width:430px){
    body{
        overflow-y: hidden;
    }
    .logo{
        margin-top: -48%;
        height: 150px;
        width: 180px;
        left: 26%;
    }
    .conotactBackground{
        height: 150vh;
    background-size: cover;

    }
    .contactInfo{
        margin-top: -11%;
        flex-direction: column;
       align-items: center;
    
     }
     .kitisuru{
      
        font-size: 10px;
        padding-left: 8%;
        width: 250px;
        height: 178px;
        margin-bottom: 14%;
      
     }
     .kilimani{
      
      
        font-size: 10px;
        padding-left: 8%;
        width: 250px;
        height: 178px;
     }

     .options a{
        font-size: 6px;
     }
     
     .optionsMenu{
        
      
      bottom: -2.2%;
     
       i{
         gap:85%;
        }
     
        a{ 
         gap:15%;
         padding-left:30%;
            font-size: 15px;
         }
     
        width:57%;
       justify-content: center;
        font-size: 12px;
        height: 50px;
        left: 7%;
     }
     .reserve{
        right: 4%;
        font-size: 12px;
        width: 100px;
     height: 29px;
     width: 80px;
     position: absolute;
     top: 20%;
     
     }
     
     .disappear{
        display: none;
     }



     #whatsapp{
        font-size: 20px;
        position: absolute;
        bottom: 5%;
     }
     

     .social-platforms{
        top: 1%;
        right: 5%;
        gap: 5%;
        width: auto;}

 }
 